// Modifier naming and colors.
$wuiExpressionColors: (
  subdued: $wuiTextSubduedColor,
  primary:  $wuiColorPrimaryText,
  secondary: $wuiColorSecondaryText,
  warning: $wuiColorWarningText,
  danger: $wuiColorDangerText,
  accent: $wuiColorAccentText,
);
