.wuiPaginationButton {
  font-size: $euiFontSizeS;
  padding: 0;
  text-align: center;
  border-radius: $wuiBorderRadius;
}

.wuiPaginationButton-isActive {
  font-weight: $euiFontWeightBold;

  &#{&} {
    color: $wuiColorPrimary;

    .wuiButtonEmpty__content {
      cursor: default;
    }

    &,
    &:hover {
      text-decoration: underline;
    }
  }
}

.wuiPaginationButton-isPlaceholder {
  align-items: baseline;
  color: $wuiButtonColorDisabledText;
  font-size: $euiFontSizeS;
  padding: 0 $euiSizeS;
  height: $euiSizeL;
  padding-top: $euiSizeM / 2;
}

@include wuiBreakpoint('xs', 's') {
  .wuiPaginationButton-isPlaceholder,
  .wuiPaginationButton--hideOnMobile {
    display: none;
  }
}
