$wuiColorPickerValueRange0: rgba(255, 255, 255, 1);
$wuiColorPickerValueRange1: rgba(255, 255, 255, 0);
$wuiColorPickerSaturationRange0: rgba(0, 0, 0, 1);
$wuiColorPickerSaturationRange1: rgba(0, 0, 0, 0);
$wuiColorPickerIndicatorSize: $euiSizeM;
$wuiColorPickerWidth: ($euiSizeL * 5) + ($euiSizeS * 4); // 5 columns of swatches + margins + border
