.wuiDatePopoverContent {
  width: $wuiFormMaxWidth;
  max-width: 100%;
}

.wuiDatePopoverContent__padded {
  padding: $euiSizeS;
}

.wuiDatePopoverContent__padded--large {
  padding: $euiSize;
}

@include wuiBreakpoint('xs', 's') {
  .wuiDatePopoverContent {
    // Small screens drop the time selector
    width: $wuiDatePickerCalendarWidth;
  }
}
