/**
 * 1. Leave room for caret.
 * 2. Ensure the descenders don't get cut off
 */

.wuiSelect {
  @include wuiFormControlStyle;
  @include wuiFormControlWithIcon($side: 'right'); /* 1 */
  @include wuiFormControlIsLoading($isNextToIcon: true);

  appearance: none;
  line-height: $wuiFormControlHeight; /* 2 */
  padding-top: 0; /* 2 */
  padding-bottom: 0; /* 2 */

  &--compressed {
    @include wuiFormControlWithIcon($side: 'right', $compressed: true); /* 1 */
    line-height: $wuiFormControlCompressedHeight; /* 2 */
    padding-top: 0; /* 2 */
    padding-bottom: 0; /* 2 */
  }

  &--inGroup {
    line-height: $wuiFormControlLayoutGroupInputHeight; /* 2 */
  }

  &--inGroup#{&}--compressed {
    line-height: $wuiFormControlLayoutGroupInputCompressedHeight; /* 2 */
  }

  // Turn off linter for some MS specific bits.
  // sass-lint:disable no-vendor-prefixes
  &::-ms-expand {
    display: none;
  }

  &:focus::-ms-value {
    color: $euiTextColor;
    background: transparent;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $euiTextColor;
  }
}
