.savedQueriesInput__hideDatepicker {
  .wuiSuperDatePicker__flexWrapper {
    width: 100%;

    > div:nth-of-type(1) {
      display: none;
    }
  }
}

.savedQueriesInput {
  padding-bottom: $wuiSizeXL * 6;
}

.savedQueryManagement__text {
  padding: $wuiSizeM $wuiSizeM ($wuiSizeM / 2);
}

.savedQueryManagement__listWrapper {
  // Addition height will ensure one item is "cutoff" to indicate more below the scroll
  max-height: $wuiFormMaxWidth + $wuiSize;
  overflow-y: hidden;
}

.savedQueryManagement__list {
  @include wuiYScrollWithShadows;
  max-height: inherit; // Fixes overflow for applied max-height
  // Left/Right padding is calculated to match the left alignment of the
  // popover text and buttons
  padding: ($wuiSizeM / 2) $wuiSizeXS !important; // sass-lint:disable-line no-important
}