$wuiFormControlBorderRadius: $wuiBorderRadius;
$wuiFormControlCompressedBorderRadius: $wuiBorderRadiusSmall;

$wuiFormControlBoxShadow: 0 0;

$wuiCheckboxBorderRadius: $wuiBorderRadiusSmall * .5;

// Focus
$wuiFocusBorderColorGeneral: $wuiFocusBorderColor;
