// Curated border color to fade into the shadow without looking too much like a border
// It adds separation between the header and flyout
$wuiHeaderBorderColor: lightOrDarkTheme(shade($wuiBorderColor, 3%), shade($euiColorEmptyShade, 35%));

$wuiHeaderHeight: $euiSizeXXL + $euiSizeS;
$wuiHeaderChildSize: $euiSizeXXL;
$wuiHeaderHeightCompensation: $wuiHeaderHeight;
