$wuiSuggestItemColors: (
  tint0: $wuiColorVis0,
  tint1: $wuiColorVis1,
  tint2: $wuiColorVis2,
  tint3: $wuiColorVis3,
  tint4: $wuiColorVis4,
  tint5: $wuiColorVis5,
  tint6: $wuiColorVis6,
  tint7: $wuiColorVis7,
  tint8: $wuiColorVis8,
  tint9: $wuiColorVis9,
  tint10: $wuiColorDarkShade,
);
