.wuiNotificationBadge {
  flex-shrink: 0; // Ensures it never scales down below its intended size
  display: inline-block;
  border-radius: $wuiBorderRadius;
  font-size: $euiFontSizeXS;
  font-weight: $wuiFontWeightMedium;
  line-height: $euiSize;
  height: $euiSize;
  min-width: $euiSize;
  padding-left: $euiSizeXS;
  padding-right: $euiSizeXS;
  vertical-align: middle;
  text-align: center;
  transition: all $wuiAnimSpeedFast ease-in;
  cursor: default;

  $backgroundColor: $wuiColorAccent;
  background: $backgroundColor;
  color: chooseLightOrDarkText($backgroundColor, $euiColorGhost, $wuiColorInk);
}

.wuiNotificationBadge--medium {
  // Increase the default size a bit
  $size: $euiSize + $euiSizeXS;
  line-height: $size;
  height: $size;
  min-width: $euiSizeL;
}

.wuiNotificationBadge--subdued {
  $backgroundColor: tint($wuiColorLightShade, 30%);
  background: $backgroundColor;
  color: chooseLightOrDarkText($backgroundColor, $euiColorGhost, $wuiColorInk);
}
