.wuiNotificationBadge {
  flex-shrink: 0; // Ensures it never scales down below its intended size
  display: inline-block;
  border-radius: $wuiBorderRadius;
  font-size: $wuiFontSizeXS;
  font-weight: $wuiFontWeightMedium;
  line-height: $wuiSize;
  height: $wuiSize;
  min-width: $wuiSize;
  padding-left: $wuiSizeXS;
  padding-right: $wuiSizeXS;
  vertical-align: middle;
  text-align: center;
  transition: all $wuiAnimSpeedFast ease-in;
  cursor: default;

  $backgroundColor: $wuiColorAccent;
  background: $backgroundColor;
  color: chooseLightOrDarkText($backgroundColor, $wuiColorGhost, $wuiColorInk);
}

.wuiNotificationBadge--medium {
  // Increase the default size a bit
  $size: $wuiSize + $wuiSizeXS;
  line-height: $size;
  height: $size;
  min-width: $wuiSizeL;
}

.wuiNotificationBadge--subdued {
  $backgroundColor: tint($wuiColorLightShade, 30%);
  background: $backgroundColor;
  color: chooseLightOrDarkText($backgroundColor, $wuiColorGhost, $wuiColorInk);
}
