// -------------------------------------
// Colors guideline page
// -------------------------------------
.guidelineColor__palette {
  padding: $euiSize;
  padding-bottom: $euiSizeXL;
}

.guidelineColor__swatch {
  height: $euiSizeM;
  width: $euiSizeM;
  border-radius: 50%;
}

.guidelineColor__stripe {
  height: $euiSizeL;
  line-height: $euiSizeL;
}

.guidelineColor__test {
  text-align: center;
  font-size: $euiFontSizeS;
}

// sass-lint:disable no-important
.guidelineColor__title {
  color: $wuiColorMediumShade !important;
}

.guideColorPalette__swatch {
  span {
    height: $euiSize;
    width: $euiSizeL;
  }

  &--small span {
    width: auto;
    height: $euiSizeS;
  }
}

.guideColorPalette__swatchHolder {
  border-radius: $wuiBorderRadius;
  overflow: hidden;
}

// -------------------------------------
// Sass guideline page
// -------------------------------------
.guideSass__swatchItem + .guideSass__swatchItem {
  margin-top: $euiSize;
}

.guideSass__swatch {
  height: $euiSizeL;
  width: $euiSizeL;
}

.guideSass__swatch--danger {
  background: $wuiColorDanger;
}

.guideSass__swatch--dangerTint {
  background: tint($wuiColorDanger, 30%);
}

.guideSass__swatch--dangerShade {
  background: shade($wuiColorDanger, 30%);
}

// sass-lint:disable no-color-literals
.guideSass__swatch--primaryLight {
  background: #0079A5;
}

// sass-lint:disable no-color-literals
.guideSass__swatch--primaryDark {
  background: #4DA1C0;
}

.guideSass__levelRow {
  padding-left: $euiSizeS;
}

.guideSass__levelRow + .guideSass__levelRow {
  margin-top: $euiSizeS;
}

.guideSass__level {
  background-color: $wuiColorMediumShade;
  transform: scaleY(.5) rotate(30deg) skew(-30deg, 0deg);
  width: $euiSize;
  height: $euiSize;
}

.guideSass__sizeRow + .guideSass__sizeRow {
  margin-top: $euiSize;
}

.guideSass__size {
  background-color: $wuiColorFullShade;
  display: inline-block;
}

.guideSass__sizeItem {
  width: $euiSizeXXL;
  text-align: right;
}

.guideSass__fontSizeExample + .guideSass__fontSizeExample {
  margin-top: $euiSizeL;
}

.guideSass__fontSize {
  margin-bottom: $euiSizeS;
}

.guideSass__fontSize--euiFontSizeXS {
  @include euiFontSizeXS;
}

.guideSass__fontSize--euiFontSizeS {
  @include euiFontSizeS;
}

.guideSass__fontSize--euiFontSizeM {
  @include euiFontSizeM;
}

.guideSass__fontSize--euiFontSize {
  @include euiFontSize;
}

.guideSass__fontSize--euiFontSizeL {
  @include euiFontSizeL;
}

.guideSass__fontSize--euiFontSizeXL {
  @include euiFontSizeXL;
}

.guideSass__fontSize--euiFontSizeXXL {
  @include euiFontSizeXL;
}

.guideSass__shadow {
  padding: $euiSizeXXL;
  background: $euiColorEmptyShade;
  border-radius: $wuiBorderRadius;

  & + .guideSass__shadow {
    margin-top: $euiSizeXL;
  }
}

.colorGuidelines_colorPreviewTooLight rect {
  stroke: transparentize($wuiColorLightShade, lightOrDarkTheme(.5, 0));
  stroke-width: .25px;
}

.guideSass__shadow--wuiSlightShadow { @include wuiSlightShadow; }
.guideSass__shadow--wuiBottomShadowSmall { @include wuiBottomShadowSmall; }
.guideSass__shadow--wuiBottomShadowMedium { @include wuiBottomShadowMedium; }
.guideSass__shadow--wuiBottomShadowFlat { @include wuiBottomShadowFlat; }
.guideSass__shadow--wuiBottomShadow { @include wuiBottomShadow; }
.guideSass__shadow--wuiBottomShadowLarge { @include wuiBottomShadowLarge; }

.guideSass__overflowShadows {
  overflow-y: hidden;
  height: 200px;

  .guideSass__overflowShadowText {
    @include euiYScrollWithShadows;
    padding: $euiSizeS;
  }
}

.guideSass__overflowShadowsX {
  @include wuiXScrollWithShadows;
  padding: $euiSizeS $euiSizeS 0;

  .guideSass__overflowShadowTextX {
    width: 150%;
  }
}

.guideSass__shadow--color {
  @include wuiBottomShadowLarge(desaturate($wuiColorPrimary, 30%));
}

.guideSass__border {
  display: flex;
  padding: $euiSize;
}

.guideSass__border--radius {
  border: $wuiBorderThin;
  border-radius: $wuiBorderRadius;
}

.guideSass__border--wuiBorderThin {
  border: $wuiBorderThin;
}

.guideSass__border--wuiBorderThick {
  border: $wuiBorderThick;
}

.guideSass__border--wuiBorderEditable {
  border: $wuiBorderEditable;
}

.guideSass__fontFamily {
  font-size: $euiSizeL;
  background: $wuiColorDarkestShade;
  text-align: center;
  width: $euiSizeXL * 2;
  height: $euiSizeXL;
  line-height: $euiSizeXL;
  color: $euiColorEmptyShade;

  &--code {
    @include wuiCodeFont;
  }
}

.guideSass__animRow + .guideSass__animRow {
  margin-top: $euiSizeL;
}

.guideSass__animParent {
  background: $wuiColorLightestShade;
  height: $euiSize;
  margin-top: $euiSizeS;
  position: relative;
}

.guideSass__animChild {
  width: $euiSize;
  height: $euiSize;
  background: $wuiColorDarkestShade;
  position: absolute;
  left: 0;
}

.guideSass__animRow:hover .guideSass__animChild {
  transition-property: left;
  transition-timing-function: linear;
  left: calc(100% - #{$euiSize});
}

.guideSass__animRow--wuiAnimSpeedExtraFast:hover .guideSass__animChild {
  transition-duration: $wuiAnimSpeedExtraFast;
}

.guideSass__animRow--wuiAnimSpeedFast:hover .guideSass__animChild {
  transition-duration: $wuiAnimSpeedFast;
}

.guideSass__animRow--euiAnimSpeedNormal:hover .guideSass__animChild {
  transition-duration: $euiAnimSpeedNormal;
}

.guideSass__animRow--wuiAnimSpeedSlow:hover .guideSass__animChild {
  transition-duration: $wuiAnimSpeedSlow;
}

.guideSass__animRow--wuiAnimSpeedExtraSlow:hover .guideSass__animChild {
  transition-duration: $wuiAnimSpeedExtraSlow;
}

.guideSass__animRow--wuiAnimSlightBounce:hover .guideSass__animChild {
  transition-timing-function: $wuiAnimSlightBounce;
  transition-duration: $wuiAnimSpeedSlow;
}

.guideSass__animRow--wuiAnimSlightResistance:hover .guideSass__animChild {
  transition-timing-function: $wuiAnimSlightResistance;
  transition-duration: $wuiAnimSpeedSlow;
}

.guideSass__breakpointExample {
  padding: $euiSize;
  color: $euiColorGhost;
}

.guideSass__themedBox {
  padding: $euiSize;
  border-left: $wuiBorderThick;
}

// sass-lint:disable no-color-literals
.guideSass__themedBox--light {
  border-color: #0079A5;
  background: tint(#0079A5, 90%);
  color: #333;
}

.guideSass__themedBox--dark {
  // sass-lint:disable no-color-literals
  border-color: #4DA1C0;
  background: shade(#4DA1C0, 70%);
  color: #FFF;
}

.guideSass__contrastExample {
  $backgroundColor: tintOrShade($wuiColorWarning, 90%, 70%);

  background: $backgroundColor;
  color: makeHighContrastColor($wuiColorWarning, $backgroundColor);
  padding: $euiSize;
  border-left: $wuiBorderThick;
  border-color: $wuiColorWarning;

  .square {
    fill: makeGraphicContrastColor($wuiColorWarning, $backgroundColor);
    vertical-align: bottom;
  }
}

.guideSection__shadedBox {
  background-color: $wuiPageBackgroundColor;
  padding: $euiSize;
  border-radius: $wuiBorderRadius;
}

.guideSection__emptyBox {
  background-color: $euiColorEmptyShade;
}

@import 'colors/color_section';

@include wuiBreakpoint('xl') {
  .guideSass__breakpointExample {
    background: $wuiColorPrimary;

    &:before {
      content: 'You are currently in the xl breakpoint';
    }
  }
}

@include wuiBreakpoint('l') {
  .guideSass__breakpointExample {
    background: $wuiColorSecondary;

    &:before {
      content: 'You are currently in the l breakpoint';
    }
  }
}

@include wuiBreakpoint('m') {
  .guideSass__breakpointExample {
    background: $wuiColorAccent;

    &:before {
      content: 'You are currently in the m breakpoint';
    }
  }
}

@include wuiBreakpoint('s') {
  .guideSass__breakpointExample {
    background: $wuiColorWarning;

    &:before {
      content: 'You are currently in the s breakpoint';
    }
  }
}

@include wuiBreakpoint('xs') {
  .guideSass__breakpointExample {
    background: $wuiColorDanger;

    &:before {
      content: 'You are currently in the xs breakpoint';
    }
  }
}
