// Themeable colors
$wuiHeaderBackgroundColor: $euiColorEmptyShade !default;
$wuiHeaderBorderColor: $wuiBorderColor !default;
$wuiHeaderBreadcrumbColor: $wuiColorDarkestShade !default;

// Layout vars
$wuiHeaderHeight: $euiSizeXXL + $euiSizeS !default;
$wuiHeaderChildSize: $wuiHeaderHeight !default;

// Use the following variable in other components to afford for the fixed header
$wuiHeaderHeightCompensation: $wuiHeaderHeight + 1px !default;
