@import '../eui/eui_colors_dark.scss';

// These colors stay the same no matter the theme
$euiColorGhost: #FFF;
$euiColorInk: #000;

// Core
$euiColorPrimary: #499CFE;
$euiColorSecondary: #207D82;
$euiColorAccent: #FFE853;

// Status
$euiColorSuccess: $euiColorSecondary;
$euiColorWarning: #F97D37;
$euiColorDanger: #F86B63;

// Grays
$euiColorEmptyShade: #2A2D34;
$euiColorLightestShade: #343741;
$euiColorLightShade: #4C505C;
$euiColorMediumShade: #98A2B3;
$euiColorDarkShade: #9298A8;
$euiColorDarkestShade: #FFF;
$euiColorFullShade: #FFF;

// Backgrounds
$euiPageBackgroundColor: shade($euiColorLightestShade, 45%);
$euiColorHighlight: #2E2D25;

// Variations from core
$euiTextColor: $euiColorDarkestShade;
$euiTitleColor: $euiTextColor;
$euiTextSubduedColor: makeHighContrastColor($euiColorMediumShade);
$euiColorDisabled: shade($euiTextColor, 70%);

// Contrasty text variants
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary);
$euiColorSecondaryText: makeHighContrastColor($euiColorSecondary);
$euiColorAccentText: makeHighContrastColor($euiColorAccent);
$euiColorWarningText: makeHighContrastColor($euiColorWarning);
$euiColorDangerText: makeHighContrastColor($euiColorDanger);
$euiColorDisabledText: makeDisabledContrastColor($euiColorDisabled);
$euiColorSuccessText: $euiColorSecondaryText;
$euiLinkColor: $euiColorPrimaryText;

// Charts
$euiColorChartLines: $euiColorLightShade;
$euiColorChartBand: tint($euiColorLightestShade, 2.5%);

// Shadows
$euiShadowColor: #000;
$euiShadowColorLarge: #000;

// Focus border
$euiFocusBorderColor: $euiColorPrimary;

