// Modifier naming and colors.
$wuiButtonIconTypes: (
  accent: $wuiColorAccentText,
  danger: $wuiColorDangerText,
  disabled: $wuiButtonColorDisabledText,
  ghost: $euiColorGhost,
  primary: $wuiColorPrimaryText,
  subdued: $wuiTextSubduedColor,
  success: $wuiColorSuccessText,
  text: $euiTextColor,
  warning: $wuiColorWarningText,
);
