.wuiToast {
  border: $wuiBorderThin;
  // This overwrites some of the border above
  // sass-lint:disable-block mixins-before-declarations
  @include wuiBottomShadowLarge($adjustBorders: true);

  position: relative;
  padding: $euiSize;
  background-color: $euiColorEmptyShade;
  width: 100%;

  &:hover .wuiToast__closeButton,
  &:focus .wuiToast__closeButton {
    opacity: 1;
  }
}

/**
  * 1. Fit button to icon.
  */
.wuiToast__closeButton {
  position: absolute;
  top: $euiSize;
  right: $euiSize;
  line-height: 0; /* 1 */
  appearance: none;
  opacity: 0;
  transition: opacity $wuiAnimSpeedFast $wuiAnimSlightResistance;

  svg {
    fill: tintOrShade($wuiTitleColor, 50%, 70%);
  }

  &:hover {
    svg {
      fill: $wuiTitleColor;
    }
  }

  &:focus {
    background-color: $euiFocusBackgroundColor;
    opacity: 1;

    svg {
      fill: $wuiColorPrimary;
    }
  }
}

// Modifier naming and colors.
$wuiToastTypes: (
  primary: makeGraphicContrastColor($wuiColorPrimary, $euiColorEmptyShade),
  success: makeGraphicContrastColor($wuiColorSecondary, $euiColorEmptyShade),
  warning: makeGraphicContrastColor($wuiColorWarning, $euiColorEmptyShade),
  danger: makeGraphicContrastColor($wuiColorDanger, $euiColorEmptyShade),
);

// Create button modifiers based upon the map.
@each $name, $color in $wuiToastTypes {
  .wuiToast--#{$name} {
    border-top: 2px solid $color;
  }
}

/**
 * 1. Align icon with first line of title text if it wraps.
 * 2. Apply margin to all but last item in the flex.
 * 3. Account for close button.
 */
.wuiToastHeader {
  padding-right: $euiSizeL; /* 3 */
  display: flex;
  align-items: baseline; /* 1 */

  > * + * {
    margin-left: $euiSizeS; /* 2 */
  }
}

/**
  * 1. Vertically center icon with first line of title.
  */
.wuiToastHeader__icon {
  flex: 0 0 auto;
  fill: $wuiTitleColor;
  transform: translateY(2px); /* 1 */
}

.wuiToastHeader__title {
  @include wuiTitle('xs');
  @include wuiTextBreakWord;
  font-weight: $wuiFontWeightLight;
}

.wuiToastHeader--withBody {
  margin-bottom: $euiSizeS;
}

/**
 * 1. Prevent long lines from overflowing.
 */
.wuiToastBody {
  word-wrap: break-word; /* 1 */
}
