// Fixed heights ensure proper alignment with pixel grid

.wuiTab {
  font-weight: $wuiFontWeightMedium;
  height: $euiSizeXXL + $euiSizeS;
  border-radius: $euiSizeS $euiSizeS 0 0;

  &.wuiTab-isSelected {

    &::after {
      background-color: transparent;
    }
  }
}

.wuiTabs--small .wuiTab {
  height: $euiSizeXXL;
  border-radius: $euiSizeXS $euiSizeXS 0 0;
}

.wuiTabs--large .wuiTab {
  @include fontSize($wuiTabFontSizeL);
  height: $euiSizeXXL + $euiSizeS;
}
