.wuiTreeView__wrapper .wuiTreeView {
  margin: 0;
  list-style-type: none;
}

.wuiTreeView .wuiTreeView {
  padding-left: $euiSizeL;
}

.wuiTreeView__node {
  max-height: $euiSizeXL;
  overflow: hidden;
  cursor: pointer;
  line-height: $euiSizeXL;
}

.wuiTreeView__node--expanded {
  max-height: 100vh;
  overflow: auto;
}

.wuiTreeView__nodeInner {
  @include euiTextTruncate;

  padding-left: $euiSizeS;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $euiSizeXL;
  border-radius: $wuiBorderRadius;
  width: 100%;
  text-align-last: left;

  &:focus {
    box-shadow: inset 0 0 0 $euiSizeXS / 4 $wuiFocusRingColor;
  }

  &:hover,
  &:active {
    background-color: tintOrShade($wuiColorLightShade, 50%, 10%);
  }

  .wuiTreeView__iconPlaceholder {
    width: $euiSizeXL;
  }

}

.wuiTreeView__nodeLabel {
  @include euiTextTruncate;
}

.wuiTreeView__iconWrapper {
  margin-top: -($euiSizeXS / 2);
  margin-right: $euiSizeS;

  // This helps tokens appear vertically centered
  .wuiToken {
    margin-top: $euiSizeXS / 2;
  }
}

.wuiTreeView--compressed {
  .wuiTreeView__node {
    max-height: $euiSizeL;
    line-height: $euiSizeL;

    .wuiTreeView__nodeInner {
      height: $euiSizeL;

    }

    .wuiTreeView__iconWrapper {
      margin: 0 ($euiSizeS * .75) 0 0;
    }

    .wuiTreeView__nodeLabel {
      margin-top: -1px;
    }

    .wuiTreeView__iconPlaceholder {
      width: $euiSizeL;
    }
  }

  .wuiTreeView__node--expanded {
    max-height: 100vh;
    overflow: auto;
  }
}

.wuiTreeView--withArrows {
  .wuiTreeView__expansionArrow {
    margin-right: $euiSizeXS;
  }

  &.wuiTreeView {
    .wuiTreeView__nodeInner--withArrows {
      .wuiTreeView__iconWrapper {
        margin-left: 0;
      }
    }

    .wuiTreeView__iconWrapper {
      margin-left: $euiSize + $euiSizeXS;
    }
  }

  &.wuiTreeView--compressed {
    .wuiTreeView__nodeInner--withArrows {
      .wuiTreeView__iconWrapper {
        margin-left: 0;
      }
    }

    .wuiTreeView__iconWrapper {
      margin-left: $euiSize;
    }
  }
}
