$wuiDataGridColumnResizerWidth: 3px; // Odd number because it straddles a border
$wuiDataGridPopoverMaxHeight: $euiSize * 25;

$wuiDataGridCellPaddingS: $euiSizeXS;
$wuiDataGridCellPaddingM: $euiSizeM / 2;
$wuiDataGridCellPaddingL: $euiSizeS;
$wuiDataGridVerticalBorder: solid 1px tintOrShade($wuiBorderColor, 60%, 30%);
