.wuiMarkdownEditorTextArea {
  @include wuiFormControlText;
  @include wuiScrollBar;
  width: 100%;
  height: 100%;
  min-height: 150px;
  padding: $euiSizeM;
  border: $wuiBorderThin;
  border-bottom: none;
  // Overrides the wuiFormControlText line-height that is very small
  line-height: $wuiLineHeight;
  resize: vertical;
  background-color: $wuiFormBackgroundColor;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  // Removes default firefox margin
  margin: 0;

  // sass-lint:disable-block indentation
  transition:
    box-shadow $wuiAnimSpeedFast ease-in,
    background-image $wuiAnimSpeedFast ease-in,
    background-size $wuiAnimSpeedFast ease-in,
    background-color $wuiAnimSpeedFast ease-in;

  &:focus,
  // preventing the text area of loosing focus when clicking on an action button
  // from the toolbar
  .wuiMarkdownEditor:focus-within &  {
    background-color: tintOrShade($euiColorEmptyShade, 0%, 40%);
    background-image: wuiFormControlGradient();
    background-size: 100% 100%;
  }
}
