.wuiMarkdownEditorFooter {
  display: inline-flex;
  padding: $euiSizeXS;
  border: $wuiBorderThin;
  align-items: center;
  background: $wuiPageBackgroundColor;
}

.wuiMarkdownEditorFooter__popover {
  width: 300px;
}

.wuiMarkdownEditorFooter__actions {
  flex: 1;
  display: inline-flex;

  > button,
  > span {
    margin-right: $euiSizeXS;
    align-self: center;
  }

  // overrides button empty styles so it can match the button icon
  // So when we have an error this button appears smoothly 
  .wuiMarkdownEditorFooter__uploadError {
    position: relative;
    left: -1px;
    line-height: 1;
    border-radius: $wuiBorderRadius;

    > span {
      padding: 0 $euiSizeXS;
    }
  }
}

.wuiMarkdownEditorFooter__help {
  justify-self: flex-end;

  // overrides the default button icon width size
  > svg {
    width: 26px;
  }
}

.wuiMarkdownEditorFooter__errors {
  // overrides the default button icon width size
  > svg {
    color: $wuiTextSubduedColor;
  }
}
