$wuiListGroupItemHoverBackground: transparentize($wuiColorLightShade, .75);
$wuiListGroupItemHoverBackgroundGhost: transparentize($euiColorGhost, .9);

$wuiListGroupGutterTypes: (
  gutterSmall: $euiSizeS,
  gutterMedium: $euiSize,
);

$wuiListGroupItemColorTypes: (
  primary: $wuiColorPrimaryText,
  text: $euiTextColor,
  subdued: $wuiTextSubduedColor,
  ghost: $euiColorGhost,
);

$wuiListGroupItemSizeTypes: (
  xSmall: $euiFontSizeXS,
  small: $euiFontSizeS,
  medium: $euiFontSize,
  large: $euiFontSizeL,
);
