@import '../global_styling/mixins/button';

.euiHeader {
  height: $euiHeaderHeight;
  padding-left: $euiSizeS;
  padding-right: $euiSizeS;
  box-shadow: 0;
}

// Remove borders without deleting the prop just yet
.euiHeaderSectionItem:after {
  display: none !important; // sass-lint:disable-line no-important
}

.euiHeaderLogo {
  @include euiBreakpoint('xs') {
    padding-left: $euiSizeXS;
  }

  padding-left: $euiSizeS;
  padding-right: $euiSizeS;
  min-width: $euiHeaderChildSize;
}

.euiHeaderLogo__text {
  @include euiTitle('xxs');
}

.euiHeader--fixed + .euiHeader--fixed {
  background-color: $euiColorLightestShade;
  padding-left: $euiNavDrawerWidthCollapsed + $euiSizeM;
}

.euiHeader--fixed + .euiHeader--fixed + .euiHeader--fixed {
  background-color: $euiColorEmptyShade;
  padding-left: $euiNavDrawerWidthCollapsed + $euiSizeM;
}
