.euiHeaderBreadcrumbs {
  .euiBreadcrumbSeparator {
    flex-shrink: 0;
    display: inline-block;
    margin-right: 8px;
    width: unset;
    height: 30px;
    transform: none;
    background: transparent;
    opacity: .6;

    &::after {
      content: '>';
      margin: 0 $euiBreadcrumbSpacing;
      font-size: $euiSize;
      transform: none;
      width: unset;
      height: unset;
      background: transparent;
    }
  }
}
