.wuiDescribedFormGroup {
  max-width: $wuiFormMaxWidth * 2;

  + * {
    margin-top: $euiSizeL;
  }

  &.wuiDescribedFormGroup--fullWidth {
    max-width: 100%;
  }

  .wuiDescribedFormGroup__description {
    padding-top: $euiSizeS;
  }

  .wuiDescribedFormGroup__fields {
    min-width: 0; // Needed to support shrinking appropriately with viewport (prevents x-axis content overflow)
  }

  .wuiDescribedFormGroup__fieldPadding {
    &--xxxsmall {padding-top: ($euiFontSizeXS * 1.5) - $euiFontSizeXS + 2px;}
    &--xxsmall {padding-top: ($euiFontSizeS * 1.5) - $euiFontSizeXS + 2px;}
    &--xsmall {padding-top: ($euiFontSize * 1.5) - $euiFontSizeXS + 2px;}
    &--small {padding-top: ($euiFontSizeL * 1.5) - $euiFontSizeXS + 2px;}
    &--medium {padding-top: ($euiFontSizeXL * 1.5) - $euiFontSizeXS + 2px;}
    &--large {padding-top: ($euiFontSizeXXL * 1.5) - $euiFontSizeXS + 2px;}
  }

  @include wuiBreakpoint('xs', 's') {
    .wuiDescribedFormGroup__fields {
      padding-top: 0;

      > .wuiFormRow--hasEmptyLabelSpace:first-child {
        padding-top: 0;
      }
    }
  }
}
