/**
 * 1. Default to grid of 3
 */
.wuiKeyPadMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: $wuiKeyPadMenuSize * 3;
}

/**
 * 1. If this class is applied to a button, we need to override the Chrome default font.
 * 2. If it has a BetaBadge, make sure only the first letter shows
 */
.wuiKeyPadMenuItem {
  @include wuiFont; /* 1 */
  // Disable indentation for transition legibility
  // sass-lint:disable-block indentation
  display: block;
  padding: $euiSizeXS;
  height: $wuiKeyPadMenuSize;
  width: $wuiKeyPadMenuSize;
  color: $euiColorDarkShade;
  border: $wuiBorderThin;
  border-color: transparent;
  border-radius: $wuiBorderRadius;
  transition:
    border-color $wuiAnimSpeedFast ease-in,
    box-shadow $wuiAnimSpeedFast ease-in;

  &:not(:disabled) {
    &:hover,
    &:focus {
      @include wuiSlightShadow;
      border-color: $wuiBorderColor;

      .wuiKeyPadMenuItem__icon { // sass-lint:disable-line nesting-depth
        transform: translateY(0);
      }
    }

  }

  &:disabled {
    color: $wuiButtonColorDisabledText;
    cursor: not-allowed;

    .wuiKeyPadMenuItem__icon  {
      filter: grayscale(100%);

      svg * { // sass-lint:disable-line nesting-depth
        fill: $wuiButtonColorDisabledText;
      }
    }

  }
}

.wuiKeyPadMenuItem__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wuiKeyPadMenuItem--hasBetaBadge & {
    position: relative;

    .wuiKeyPadMenuItem__betaBadgeWrapper {
      position: absolute;
      top: $euiSizeXS;
      right: $euiSizeS;
      z-index: 3;

      // sass-lint:disable-block nesting-depth
      .wuiKeyPadMenuItem__betaBadge:not(.wuiBetaBadge--iconOnly) {
        padding: 0 ($euiSizeM / 2);  /* 2 */
        overflow: hidden;  /* 2 */
        letter-spacing: 3rem;  /* 2 */
      }
    }
  }
}

.wuiKeyPadMenuItem__betaBadge {
  @include size($wuiKeyPadMenuItemBetaBadgeSize);
  line-height: $wuiKeyPadMenuItemBetaBadgeSize;
  color: $wuiColorFullShade;
  background-color: tintOrShade($wuiColorLightShade, 50%, 0%);
  box-shadow: none;

  .wuiBetaBadge__icon {
    @include size($euiSizeM);
  }
}

.wuiKeyPadMenuItem__icon {
  transition: transform $euiAnimSpeedNormal $wuiAnimSlightBounce;
  transform: translateY(2px);
  margin-bottom: $euiSizeM;
}

.wuiKeyPadMenuItem__label {
  font-size: $euiFontSizeXS;
  font-weight: $wuiFontWeightMedium;
  line-height: $euiSize;
  text-align: center;
}
