.wuiSelectableListItem {
  @include wuiFontSizeS;
  display: inline-flex; // Necessary to make sure it doesn't force the whole popover to be too wide
  width: 100%;
  text-align: left;
  color: $wuiTextColor;
  cursor: pointer;

  &:not(:last-of-type) {
    border-bottom: $wuiSelectableListItemBorder;
  }

  &-isFocused:not([aria-disabled='true']),
  &:hover:not([aria-disabled='true']) {
    color: $wuiColorPrimary;
    background-color: $wuiFocusBackgroundColor;

    .wuiSelectableListItem__text {
      text-decoration: underline;
    }
  }

  &[aria-disabled='true'] {
    color: $wuiColorMediumShade;
    cursor: not-allowed;
  }
}

.wuiSelectableListItem__content {
  padding: $wuiSelectableListItemPadding;
  width: 100%;
  display: flex;
  align-items: center;
}

.wuiSelectableListItem__icon,
.wuiSelectableListItem__prepend {
  margin-right: $wuiSizeM;
  flex-shrink: 0;
}

.wuiSelectableListItem__append {
  margin-left: $wuiSizeM;
  flex-shrink: 0;
}

.wuiSelectableListItem__text {
  @include wuiTextTruncate;
  flex-grow: 1; // Pushes appended content to the far right
}
