/*
 * 1. Make popover the same width as the form control
 * 2. Style popover similar to combobox
 * 3. Use attribute selector to match popover position without needing the full popover class name
 */

.wuiSuperSelect {
  &:not(.wuiSuperSelect--fullWidth) { /* 1 */
    // sass-lint:disable-block no-important
    max-width: $wuiFormMaxWidth !important; // override default popover styles
  }
}

.wuiSuperSelect__listbox {
  @include wuiScrollBar;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.wuiSuperSelect__popoverPanel[class*='bottom'] { /* 3 */
  border-top-color: transparentize($wuiBorderColor, .2);
  border-top-right-radius: 0; /* 2 */
  border-top-left-radius: 0; /* 2 */
}

.wuiSuperSelect__popoverPanel[class*='top'] { /* 3 */
  @include wuiBottomShadowFlat; /* 2 */

  border-bottom-color: transparentize($wuiBorderColor, .2);
  border-bottom-right-radius: 0; /* 2 */
  border-bottom-left-radius: 0; /* 2 */
}

.wuiSuperSelect__item {
  @include euiFontSizeS;
  padding: $euiSizeS;

  &:hover:not(:disabled),
  &:focus {
    text-decoration: none;
    background-color: $euiFocusBackgroundColor;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.wuiSuperSelect__item--hasDividers:not(:last-of-type) {
  border-bottom: $wuiBorderThin;
}
