$wuiCardSpacing: map-get($wuiPanelPaddingModifiers, 'paddingMedium');
$wuiCardBottomNodeHeight: $euiSizeXXL;

$wuiCardSelectButtonBorders: (
  text: $wuiColorSuccess, // Default for selected
  primary: $wuiColorPrimary,
  success: $wuiColorSuccess,
  danger: $wuiColorDanger,
  ghost: $euiColorDarkShade,
);

$wuiCardSelectButtonBackgrounds: (
  text: $wuiColorLightestShade, // Default for unselected
  primary: tintOrShade($wuiColorPrimary, 90%, 70%),
  success: tintOrShade($wuiColorSuccess, 90%, 70%),
  danger: tintOrShade($wuiColorDanger, 90%, 70%),
  ghost: $euiColorDarkShade,
);

$wuiCardPaddingModifiers: (
  'paddingNone': 0,
  'paddingSmall': $euiSizeS,
  'paddingMedium': $euiSize,
  'paddingLarge': $euiSizeL
) !default;