$wuiIconLoadingOpacity: .05;

// Modifier naming and colors.
$wuiIconColors: (
  accent: makeGraphicContrastColor($wuiColorAccent),
  danger: makeGraphicContrastColor($wuiColorDanger),
  ghost: $euiColorGhost,
  primary: makeGraphicContrastColor($wuiColorPrimary),
  secondary: makeGraphicContrastColor($wuiColorSecondary),
  success: makeGraphicContrastColor($wuiColorSuccess),
  subdued: $wuiTextSubduedColor,
  text: $euiTextColor,
  warning: makeGraphicContrastColor($wuiColorWarning),
);

$wuiIconSizes: (
  small: $euiSizeM,
  medium: $euiSize,
  large: $euiSizeL,
  xLarge: $euiSizeXL,
  xxLarge: $euiSizeXXL
);
