/**
  * 1. Prevent really long input from overflowing the container.
  */
.wuiSelectableMessage {
  padding: $euiSizeS;
  text-align: center;
  word-wrap: break-word; /* 1 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wuiSelectableMessage--bordered {
  // Match border from selectable_list
  overflow: hidden;
  border: $wuiBorderThin;
  border-radius: $wuiBorderRadius;
}
