.wuiSubSteps {
  padding: $euiSize;
  background-color: $wuiColorLightestShade;
  margin-bottom: $euiSize;

  > *:last-child {
    margin-bottom: 0;
  }

  // change ordered list from numbers to lowercase letters
  .wuiText & ol,
  & ol {
    list-style-type: lower-alpha;
  }
}
