$wuiStepNumberSize: $euiSizeXL !default;
$wuiStepNumberSmallSize: $euiSizeL !default;
$wuiStepNumberMargin: $euiSize !default;

// Modifier naming and colors.
$wuiStepStatusColorsToFade: (
  warning: $wuiColorWarning,
  danger: $wuiColorDanger,
  disabled: $euiColorDarkShade,
  incomplete: $euiColorDarkShade,
) !default;
