@import '../link/mixins';

.wuiHeaderLogo {
  @include wuiLink;

  position: relative;
  height: $wuiHeaderChildSize;
  line-height: $wuiHeaderChildSize;
  min-width: $wuiHeaderChildSize + 1px;
  padding: 0 ($wuiSizeM + 1px) 0 $wuiSizeM;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background: $wuiColorLightestShade;
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.wuiHeaderLogo__text {
  @include wuiTitle('s');
  padding-left: $wuiSize;
  font-weight: $wuiFontWeightLight;
}

@include wuiBreakpoint('xs') {
  .wuiHeaderLogo {
    padding: 0 $wuiSizeM;
  }

  .wuiHeaderLogo__icon.wuiIcon--xLarge {
    width: $wuiSizeL;
    height: $wuiSizeL;
  }

  .wuiHeaderLogo__text {
    @include wuiTitle('xs');
    font-weight: $wuiFontWeightRegular;
  }
}
