/*
 *  Input Range Customization by browser
 */

// The following code is inspired by...

// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.4.1
// MIT License

// It has been modified to fit the styling patterns of Kibana and
// to be more easily maintained / themeable going forward.

.wuiRangeSlider {
  height: $wuiFormControlHeight;
  appearance: none;
  background: transparent; // Otherwise white in Chrome
  width: 100%; // ensures the slider expands to fill flex display
  position: relative;
  cursor: pointer; // Keep cursor to full range bounds

  &:disabled {
    cursor: not-allowed;

    // sass-lint:disable-block mixins-before-declarations
    @include wuiRangeThumbPerBrowser {
      cursor: not-allowed;
      border-color: $wuiRangeThumbBorderColor;
      background-color: $wuiRangeThumbBorderColor;
      box-shadow: none;
    }

    ~ .wuiRangeThumb {
      cursor: not-allowed;
      border-color: $wuiRangeThumbBorderColor;
      background-color: $wuiRangeThumbBorderColor;
      box-shadow: none;
    }
  }

  @include wuiRangeThumbPerBrowser {
    @include wuiCustomControl($type: 'round');
    @include wuiRangeThumbStyle;
  }

  @include wuiRangeTrackPerBrowser {
    @include wuiRangeTrackSize;
    background: $wuiRangeTrackColor;
    border: $wuiRangeTrackBorderWidth solid $wuiRangeTrackBorderColor;
    border-radius: $wuiRangeTrackRadius;
  }

  &:focus,
  &--hasFocus {
    @include wuiRangeThumbPerBrowser {
      @include wuiCustomControlFocused;
    }

    ~ .wuiRangeThumb {
      border-color: $wuiColorPrimary;
    }

    @include wuiRangeTrackPerBrowser {
      background-color: $wuiColorPrimary;
      border-color: $wuiColorPrimary;
    }

    ~ .wuiRangeHighlight .wuiRangeHighlight__progress {
      background-color: $wuiColorPrimary;
    }

    ~ .wuiRangeTooltip .wuiRangeTooltip__value {
      @include wuiBottomShadowMedium;

      &.wuiRangeTooltip__value--right,
      &.wuiRangeTooltip__value--left {
        transform: translateX(0) translateY(-50%) scale(1.1);
      }
    }
  }

  // Resets

  // Disable linter for these very unique vendor controls
  // sass-lint:disable-block no-vendor-prefixes
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: ((-$wuiRangeTrackBorderWidth * 2 + $wuiRangeTrackHeight) / 2) - ($wuiRangeThumbHeight / 2);
  }

  &::-ms-thumb {
    margin-top: 0;
  }

  &::-moz-focus-outer {
    border: none;
  }

  &::-ms-track {
    @include wuiRangeTrackSize;
    background: transparent;
    border-color: transparent;
    border-width: ($wuiRangeThumbHeight / 2) 0;
    color: transparent;
  }

  // States
  &--hasTicks {
    height: $wuiFormControlHeight / 2; // Adjust vertical alignment based on extras
  }

  &--compressed {
    height: $wuiFormControlCompressedHeight;

    &.wuiRangeSlider--hasTicks {
      height: $wuiFormControlCompressedHeight / 2;
    }
  }
}

// Lighten the track when showing the range
.wuiRangeSlider--hasRange {
  @include wuiRangeTrackPerBrowser {
    background-color: transparentize($wuiRangeTrackColor, .6);
    border-color: transparentize($wuiRangeTrackBorderColor, .6);
  }
}
