.wuiRangeTicks {
  position: absolute;
  left: ($wuiRangeThumbWidth / 2);
  right: ($wuiRangeThumbWidth / 2);
  top: $euiSizeS;
  display: flex;
}

.wuiRangeTick {
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: $euiFontSizeXS;
  position: relative;
  padding-top: $euiSize;

  &::before {
    @include size($euiSizeXS);

    content: '';
    background-color: $euiColorDarkShade;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: calc(50% - #{($euiSizeXS/2)});
  }

  &--isCustom {
    position: absolute;
    transform: translateX(-50%);
  }

  &:enabled:hover,
  &:focus,
  &--selected {
    color: $wuiColorPrimary;
  }

  &--selected {
    font-weight: $wuiFontWeightMedium;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.wuiRangeTicks--compressed {
  top: $euiSizeS - 2px;

  .wuiRangeTick {
    padding-top: $euiSize - 2px;
  }
}
