.wuiRangeLabel {
  &--min,
  &--max {
    font-size: $wuiFontSizeXS;
  }

  &--min {
    margin-right: $wuiSizeS;
  }

  &--max {
    margin-left: $wuiSizeS;
  }

  &--isDisabled {
    opacity: $wuiRangeDisabledOpacity;
  }
}
