.euiLoadingChart {
  height: $euiSizeXL;
  z-index: 500;
  overflow: hidden;
  display: inline-block;
}

.euiLoadingChart__bar {
  height: 100%;
  width: $euiSizeS;
  display: inline-block;
}

.euiLoadingChart--mono {
  filter: grayscale(1);
}

.euiLoadingChart--medium {
  height: $euiSize;

}

.euiLoadingChart--large {
  height: $euiSizeL;
}

.euiLoadingChart--xLarge {
  height: $euiSizeXL;
}
