.wuiLoadingChart {
  height: $euiSizeXL;
  z-index: 500;
  overflow: hidden;
  display: inline-block;
}

.wuiLoadingChart__bar {
  height: 100%;
  width: $euiSizeS;
  display: inline-block;
}

.wuiLoadingChart--mono {
  filter: grayscale(1);
}

.wuiLoadingChart--medium {
  height: $euiSize;

}

.wuiLoadingChart--large {
  height: $euiSizeL;
}

.wuiLoadingChart--xLarge {
  height: $euiSizeXL;
}
