/**
 * 1. Focused state overrides invalid state.
 */
.wuiFormLabel {
  @include wuiFormLabel;
  display: inline-block;
  transition: all $wuiAnimSpeedFast $wuiAnimSlightResistance;

  &.wuiFormLabel-isInvalid {
    color: $wuiColorDanger; /* 1 */
  }

  &.wuiFormLabel-isFocused {
    color: $wuiColorPrimary; /* 1 */
  }
}

.wuiFormLabel[for] {
  cursor: pointer;
}
