@include wuiPanel($selector: '.wuiCheckableCard');

.wuiCheckableCard {
  transition: border-color $euiAnimSpeedNormal ease-in;
  overflow: hidden; // Hides background color inside panel rounded corners

  &:not(.wuiCheckableCard-isDisabled) {
    &.wuiCheckableCard-isChecked {
      border-color: $wuiColorPrimary;
    }

    &:focus-within {
      @include wuiFocusRing;
    }
  }
}

.wuiCheckableCard__row {
  display: flex;
  align-items: stretch;
}

.wuiCheckableCard__control {
  display: flex;
  flex: 0 0 $euiSizeXXL;
  justify-content: center;
  align-items: center;
  background-color: map-get($wuiCardSelectButtonBackgrounds, 'text');
  transition: background-color $euiAnimSpeedNormal ease-in;

  .wuiCheckableCard-isChecked & {
    background-color: map-get($wuiCardSelectButtonBackgrounds, 'primary');
  }
}

.wuiCheckableCard__label {
  flex-grow: 1;
  font-size: $euiFontSize;
  line-height: $euiSizeL;
  padding: $euiSizeS $euiSizeS $euiSizeS $euiSize;
  cursor: pointer;
}

.wuiCheckableCard__label-isDisabled {
  color: $wuiFormControlDisabledColor;
  cursor: not-allowed;
}

.wuiCheckableCard__children {
  padding:  0 $euiSizeS $euiSizeS $euiSize;
}
