.wuiMark {
  background-color: transparent;
  font-weight: $wuiFontWeightBold;
  // Override the browser's black color.
  // Can't use `inherit` because the text to background color contrast may not be sufficient
  color: $wuiTextColor;
}
