.wuiBottomBar {
  @include wuiBottomShadowFlat($wuiShadowColorLarge);
  background: tintOrShade($wuiColorFullShade, 25%, 100%);
  color: $euiColorEmptyShade;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  animation: wuiBottomBarAppear $wuiAnimSpeedSlow $wuiAnimSlightResistance;
  z-index: $wuiZHeader - 2;

  &.wuiBottomBar--paddingSmall {
    padding: $euiSizeS;
  }

  &.wuiBottomBar--paddingMedium {
    padding: $euiSize;
  }

  &.wuiBottomBar--paddingLarge {
    padding: $euiSizeL;
  }
}

@keyframes wuiBottomBarAppear {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(00%);
    opacity: 1;
  }
}
