.wuiPage {
  display: flex;
  padding: $euiSize;
  background-color: $wuiPageBackgroundColor;

  &--restrictWidth-default,
  &--restrictWidth-custom {
    margin-left: auto;
    margin-right: auto;
  }

  &--restrictWidth-default {
    max-width: 1000px;
  }

  @include wuiBreakpoint('xs', 's') {
    flex-direction: column;
    // padding: 0; temporarily removing
  }
}
