.wuiNavDrawerFlyout {
  @include wuiScrollBar;
  width: 0;
  height: 100%;
  padding: $wuiSizeM 0;
  overflow-y: auto;
  background-color: $wuiNavDrawerBackgroundColor;
  border-left: $wuiBorderThin;
  box-shadow: $wuiNavDrawerSideShadow;
  visibility: hidden;
  opacity: 0;

  &.wuiNavDrawerFlyout-isExpanded {
    visibility: visible;
    opacity: 1;
    width: $wuiNavDrawerWidthExpanded;
    transition: opacity $wuiAnimSpeedFast $wuiNavDrawerContractingDelay, width $wuiAnimSpeedNormal;
  }

  &.wuiNavDrawerFlyout-isCollapsed {
    transition: opacity $wuiAnimSpeedFast, width $wuiAnimSpeedFast;
  }

  .wuiNavDrawerFlyout__title {
    margin: 0 $wuiSizeS $wuiSizeXS;
  }

  .wuiNavDrawerFlyout__listGroup {
    padding-left: 0;
    padding-right: 0;

    .wuiListGroupItem-isActive:not(.wuiListGroupItem--ghost) .wuiListGroupItem__button {
      box-shadow: 3px 0 0 inset $wuiColorPrimary;
    }
  }
}
