/**
 * NOTE: table-layout: fixed causes a bug in IE11 and Edge (see #9929). It also prevents us from
 * specifying a column width, e.g. the checkbox column.
 */
.wuiTable {
  @include euiFontSizeS;
  @include wuiNumberFormat;

  width: 100%;
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  background-color: $euiColorEmptyShade;

  &.wuiTable--auto {
    table-layout: auto;
  }
}

.wuiTableCaption {
  position: relative;
}

// Compressed styles not for mobile
@include wuiBreakpoint('m', 'l', 'xl') {
  .wuiTable--compressed {
    .wuiTableCellContent {
      @include euiFontSizeXS;
      padding: $wuiTableCellContentPaddingCompressed;
    }
  }
}

.wuiTableFooterCell,
.wuiTableHeaderCell {
  @include wuiTableCell;
  @include wuiTitle('xxs');
  font-weight: $wuiFontWeightMedium;
  border-top: none;

  .wuiTableHeaderButton {
    text-align: left;
    font-weight: $wuiFontWeightMedium;
  }

  .wuiTableCellContent__text {
    @include euiFontSizeXS;
    font-weight: $wuiFontWeightSemiBold;
  }
}

.wuiTableHeaderButton {
  @include euiFontSizeS;
  color: inherit;
  width: 100%;

  &:hover,
  &:focus {
    .wuiTableCellContent__text {
      text-decoration: underline;
      color: $wuiColorPrimary;
    }

    .wuiTableSortIcon {
      fill: $wuiColorPrimary;
    }
  }
}

.wuiTableSortIcon {
  margin-left: $euiSizeXS;
  flex-shrink: 0; // makes sure the icon doesn't change size because the text is long

  .wuiTableHeaderButton-isSorted & {
    fill: $wuiTitleColor;
  }
}

.wuiTableHeaderCellCheckbox {
  @include wuiTableCellCheckbox;
  border-top: none;
}

.wuiTableRow {
  &:hover {
    background-color: $wuiTableHoverColor;
  }

  &.wuiTableRow-isExpandedRow {
    .wuiTableRowCell {
      background-color: $wuiTableHoverColor;
    }

    &.wuiTableRow-isSelectable .wuiTableCellContent {
      padding-left: $wuiTableCellCheckboxWidth + $wuiTableCellContentPadding;
    }
  }

  &.wuiTableRow-isSelected {
    background-color: $wuiTableSelectedColor;

    + .wuiTableRow.wuiTableRow-isExpandedRow .wuiTableRowCell {
      background-color: $wuiTableSelectedColor;
    }

    &:hover,
    &:hover + .wuiTableRow.wuiTableRow-isExpandedRow .wuiTableRowCell  {
      background-color: $wuiTableHoverSelectedColor;
    }
  }
}

.wuiTableRowCell {
  @include wuiTableCell;

  color: $euiTextColor;

  &.wuiTableRowCell--isMobileHeader {
    display: none; // Hide if not mobile breakpoint
  }
}

.wuiTableRowCellCheckbox {
  @include wuiTableCellCheckbox;
}

// Must come after .wuiTableRowCell selector for border to be removed
.wuiTableFooterCell {
  background-color: $wuiColorLightestShade;
  border-bottom: none;
}

/**
 * 1. Vertically align all children.
 * 2. The padding on this div allows the ellipsis to show if the content is truncated. If
 *    the padding was on the cell, the ellipsis would be cropped.
 * 3. Support wrapping.
 * 4. Prevent very long single words (e.g. the name of a field in a document) from overflowing
 *    the cell.
 */
.wuiTableCellContent {
  overflow: hidden; /* 4 */
  display: flex;
  align-items: center; /* 1 */
  padding: $wuiTableCellContentPadding; /* 2 */
}

.wuiTableCellContent__text {
  @include wuiTextBreakWord; /* 4 */
  min-width: 0;
  text-overflow: ellipsis;
}

.wuiTableCellContent--alignRight {
  justify-content: flex-end;
  text-align: right;
}

.wuiTableCellContent--alignCenter {
  justify-content: center;
  text-align: center;
}

.wuiTableHeaderCell,
.wuiTableFooterCell,
.wuiTableCellContent--truncateText {
  white-space: nowrap; /* 3 */

  .wuiTableCellContent__text {
    overflow: hidden;
  }
}

.wuiTableCellContent--overflowingContent {
  overflow: visible;
  white-space: normal;
  //* 4 */ overflow-wrap is not supported on flex parents
  word-break: break-all; // Fallback for FF and IE
  word-break: break-word;
}

.wuiTableCellContent--showOnHover {
  > *:not(:first-child) {
    margin-left: $euiSizeS;
  }
}

.wuiTableRow-hasActions {
  .wuiTableCellContent--showOnHover {
    .wuiTableCellContent__hoverItem {
      flex-shrink: 0;
      opacity: .7;
      filter: grayscale(100%);
      transition: opacity $euiAnimSpeedNormal $wuiAnimSlightResistance, filter $euiAnimSpeedNormal $wuiAnimSlightResistance;
    }

    .expandedItemActions__completelyHide,
    .expandedItemActions__completelyHide:disabled,
    .expandedItemActions__completelyHide:disabled:hover,
    .expandedItemActions__completelyHide:disabled:focus,
    .wuiTableRow:hover & .expandedItemActions__completelyHide:disabled {
      filter: grayscale(0%);
      opacity: 0;
    }
  }

  &:hover .wuiTableCellContent--showOnHover .wuiTableCellContent__hoverItem:not(:disabled) {
    &,
    &:hover,
    &:focus {
      opacity: 1;
      filter: grayscale(0%);
    }
  }
}

// Animate expanded row must be on the contents div inside

.wuiTableRow-isExpandedRow .wuiTableCellContent {
  overflow: hidden;
  animation: $euiAnimSpeedNormal $wuiAnimSlightResistance 1 normal forwards growExpandedRow;
}

@keyframes growExpandedRow {
  0% {
    max-height: 0;
  }

  99% {
    max-height: 100vh;
  }

  100% {
    max-height: unset;
  }
}

.wuiTableRow-isClickable {
  &:hover {
    background-color: $wuiTableHoverClickableColor;
    cursor: pointer;
  }

  &:focus {
    background-color: $wuiTableFocusClickableColor;
  }
}
