$euiFormControlBorderRadius: $euiBorderRadius;
$euiFormControlCompressedBorderRadius: $euiBorderRadiusSmall;

$euiFormControlBoxShadow: 0 0;

$euiCheckboxBorderRadius: $euiBorderRadiusSmall * .5;

// Focus
$euiFocusBorderColorGeneral: $euiFocusBorderColor;
