.wuiToggle {
  position: relative;

  .wuiToggle__input {
    @include wuiHiddenSelectableInput;
    z-index: 1; // Increase z-index to ensure the input receives the pointer events

    &:disabled {
      cursor: not-allowed;
    }
  }
}
