// This is the default theme.
@import 'themes/wui/wui_colors_light';

// Global styling
@import 'global_styling/index';

// Components
@import 'components/index';

// Packages
@import '../packages/index';
