@mixin wuiAccordionIconFocus {
  @include wuiFocusRing;
  color: $wuiColorPrimary;
}

@mixin wuiAccordionIconMargin($align: left) {
  @if $align == left {
    margin-left: $euiSizeXS;
    margin-right: $euiSizeS;
  } @else {
    margin-left: $euiSizeS;
    margin-right: $euiSizeXS;
  }
}
