// Prefixes are unique in this file
// sass-lint:disable no-vendor-prefixes

@mixin wuiRangeTrackSize {
  height: $wuiRangeTrackHeight;
  transition: all $euiAnimSpeedNormal ease-in;
  width: $wuiRangeTrackWidth;
}

@mixin wuiRangeTrackPerBrowser {
  &::-webkit-slider-runnable-track { @content; }
  &::-moz-range-track { @content; }
  &::-ms-fill-lower { @content; }
  &::-ms-fill-upper { @content; }
}

@mixin wuiRangeThumbStyle {
  cursor: pointer;
  border-color: $wuiRangeThumbBorderColor;
  padding: 0;
  height: $wuiRangeThumbHeight;
  width: $wuiRangeThumbWidth;
}

@mixin wuiRangeThumbPerBrowser {
  &::-webkit-slider-thumb { @content; }
  &::-moz-range-thumb { @content; }
  &::-ms-thumb { @content; }
}