@mixin euiToolTipStyle($size: null) {
  @include wuiBottomShadow($color: $wuiColorInk);
  border-radius: $wuiBorderRadius;
  background-color: $wuiTooltipBackgroundColor;
  color: $euiColorGhost;
  z-index: $euiZLevel9;
  max-width: 256px;
  overflow-wrap: break-word;

  @if ($size == 's') {
    @include euiFontSizeXS;
    padding: $euiSizeS;
  } @else {
    @include euiFontSizeS;
    padding: $euiSizeM;
  }
}

@mixin euiToolTipTitle {
  font-weight: $euiFontWeightBold;
  border-bottom: solid 1px tintOrShade($wuiColorFullShade, 35%, 80%);
  padding-bottom: $euiSizeXS;
  margin-bottom: $euiSizeXS;
}

@mixin wuiToolTipAnimation($side: 'top') {
  animation: #{map-get($wuiTooltipAnimations, $side)} $wuiAnimSpeedSlow ease-out 0s forwards;
}
