// sass-lint:disable indentation

$wuiTokenGrayColor: lightOrDarkTheme($euiColorDarkShade, $wuiColorMediumShade);

// Appends the gray color to the color blind palette
$wuiTokenTypes: map-merge($wuiPaletteColorBlind, (
  'gray': (
    graphic: $wuiTokenGrayColor,
    behindText: $wuiTokenGrayColor,
  )
));

$wuiTokenTypeKeys: map-keys($wuiTokenTypes);
